.modal-content {
  font-family: Georgia, Serif;
  background-color: #00090f;
  backdrop-filter: blur(8px);
  color: #EBEBF5;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

.popover {
  font-family: Georgia, Serif;
  color: #EBEBF5;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  padding: 5px;
  background-color: #001829;
  backdrop-filter: blur(8px);
  border-radius: 0px;
  margin-top: 10px;
}

.p-2 {
  font-size: 16px;
  letter-spacing: 1px;
  text-align: justify;
  margin: 0 5px;
}

.modal-header {
  color: #3d67ff;
  font-size: 18px;
}

.little-button:hover {
  background-color: #EBEBF5;
  color: #3d67ff;
  transition: 0.5s;
}

.little-button {
  width: 50px;
  height: 53px;
  background-color: rgba(0,0,0,0);
  border: none;
  z-index: 0;
}

.btn-grp-aaa {
  display: flex;
  margin-bottom: 0;
  width: 50px !important;
  margin-left:auto;
  justify-content: flex-start;
}

.graph:hover {
  border: 2px solid #EBEBF5;
  box-shadow: 0 0 2px 2px #EBEBF5;
}

.invisible {
  opacity: 0;
}

.overview-text {
  padding: 5px;
}
